<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>/System/Library/PreferencePanes</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{750, 520}</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://media.alfredapp.com/update/appcast.xml</string>
	<key>SULastCheckTime</key>
	<date>2012-06-05T15:38:35Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>604800</real>
	<key>appbundle</key>
	<string>220</string>
	<key>appsetup</key>
	<string>1.2</string>
	<key>appstore.startup.asklogin</key>
	<true/>
	<key>default.bookmarks</key>
	<false/>
	<key>default.contacts</key>
	<false/>
	<key>default.folders</key>
	<true/>
	<key>hotKey</key>
	<integer>49</integer>
	<key>hotMod</key>
	<integer>1048840</integer>
	<key>hotString</key>
	<string> </string>
	<key>itunes.libraryxml</key>
	<string>~/Music/iTunes/iTunes Music Library.xml</string>
	<key>scope.paths</key>
	<array>
		<string>/Applications</string>
		<string>/Applications/Xcode.app/Contents/Applications</string>
		<string>/Developer/Applications</string>
		<string>/Library/PreferencePanes</string>
		<string>/System/Library/PreferencePanes</string>
	</array>
	<key>stats.count</key>
	<integer>7387</integer>
	<key>stats.from</key>
	<date>2012-06-04T22:00:00Z</date>
	<key>web.disabledWebsites</key>
	<array>
		<string>alfred.web.facebook</string>
		<string>alfred.web.ask</string>
		<string>alfred.web.ebay</string>
		<string>alfred.web.yahoo</string>
		<string>alfred.web.bing</string>
		<string>alfred.web.appsfire</string>
	</array>
	<key>weblocale</key>
	<string>International</string>
</dict>
</plist>
