<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebKitCacheModelPreferenceKey</key>
	<integer>1</integer>
	<key>WebKitDefaultTextEncodingName</key>
	<string>utf-8</string>
	<key>WebKitJavaEnabled</key>
	<false/>
	<key>WebKitJavaScriptEnabled</key>
	<false/>
	<key>autodetectMoverProfile</key>
	<true/>
	<key>mover</key>
	<dict>
		<key>activeProfile</key>
		<integer>2</integer>
		<key>isDoubleClickToZoomEnabled</key>
		<true/>
		<key>isMagicZoneEnabled</key>
		<true/>
		<key>isRealCloseEnabled</key>
		<true/>
		<key>isRealZoomEnabled</key>
		<true/>
		<key>mouse</key>
		<dict>
			<key>move</key>
			<dict>
				<key>button</key>
				<integer>1</integer>
				<key>enabled</key>
				<true/>
				<key>frameColorB</key>
				<real>1</real>
				<key>frameColorG</key>
				<real>0.0</real>
				<key>frameColorR</key>
				<real>0.0</real>
				<key>frameEnabled</key>
				<false/>
				<key>modifiers</key>
				<integer>524288</integer>
			</dict>
			<key>resize</key>
			<dict>
				<key>button</key>
				<integer>2</integer>
				<key>enabled</key>
				<true/>
				<key>frameColorB</key>
				<real>0.0</real>
				<key>frameColorG</key>
				<real>1</real>
				<key>frameColorR</key>
				<real>0.0</real>
				<key>frameEnabled</key>
				<false/>
				<key>modifiers</key>
				<integer>524288</integer>
			</dict>
		</dict>
		<key>multitouchTrackpad</key>
		<dict>
			<key>move</key>
			<dict>
				<key>button</key>
				<integer>1</integer>
				<key>enabled</key>
				<true/>
				<key>frameColorB</key>
				<real>1</real>
				<key>frameColorG</key>
				<real>1</real>
				<key>frameColorR</key>
				<real>0.0</real>
				<key>frameEnabled</key>
				<false/>
				<key>modifiers</key>
				<integer>524288</integer>
			</dict>
			<key>resize</key>
			<dict>
				<key>button</key>
				<integer>2</integer>
				<key>enabled</key>
				<true/>
				<key>frameColorB</key>
				<real>0.0</real>
				<key>frameColorG</key>
				<real>1</real>
				<key>frameColorR</key>
				<real>1</real>
				<key>frameEnabled</key>
				<false/>
				<key>modifiers</key>
				<integer>524288</integer>
			</dict>
		</dict>
		<key>trackpad</key>
		<dict>
			<key>move</key>
			<dict>
				<key>button</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>frameColorB</key>
				<real>1</real>
				<key>frameColorG</key>
				<real>1</real>
				<key>frameColorR</key>
				<real>0.0</real>
				<key>frameEnabled</key>
				<false/>
				<key>modifiers</key>
				<integer>786432</integer>
			</dict>
			<key>resize</key>
			<dict>
				<key>button</key>
				<integer>0</integer>
				<key>enabled</key>
				<true/>
				<key>frameColorB</key>
				<real>0.0</real>
				<key>frameColorG</key>
				<real>1</real>
				<key>frameColorR</key>
				<real>1</real>
				<key>frameEnabled</key>
				<false/>
				<key>modifiers</key>
				<integer>1572864</integer>
			</dict>
		</dict>
	</dict>
	<key>showHelp</key>
	<true/>
	<key>showIconInDock</key>
	<false/>
	<key>showIconInSystemBar</key>
	<true/>
	<key>zoomOnHotkey</key>
	<dict>
		<key>0</key>
		<dict>
			<key>code</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>262144</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>code</key>
			<integer>116</integer>
			<key>flags</key>
			<integer>262144</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>code</key>
			<integer>8</integer>
			<key>flags</key>
			<integer>1835008</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>code</key>
			<integer>121</integer>
			<key>flags</key>
			<integer>262144</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>code</key>
			<integer>115</integer>
			<key>flags</key>
			<integer>262144</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>code</key>
			<integer>119</integer>
			<key>flags</key>
			<integer>262144</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>code</key>
			<integer>34</integer>
			<key>flags</key>
			<integer>1835008</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>code</key>
			<integer>40</integer>
			<key>flags</key>
			<integer>1835008</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>code</key>
			<integer>31</integer>
			<key>flags</key>
			<integer>1835008</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>code</key>
			<integer>37</integer>
			<key>flags</key>
			<integer>1835008</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>code</key>
			<integer>35</integer>
			<key>flags</key>
			<integer>1835008</integer>
		</dict>
	</dict>
	<key>zoomOnHotkeyEnabled</key>
	<true/>
</dict>
</plist>
